[2022-07-18 10:28] danielweibel opened #10 "Release 2.1 link - instructions"
@GiorgioLimoncella @RosaMGini

https://github.com/ARS-toscana/ConcePTIONAlgorithmPregnancies/releases/tag/release_2.1
Instead of description to go to release 2.1?

Why is it not downloadable via green button 'Code' ? Sorry I do not understand these kind of GitHub functionalities. People are used to download scripts with the green 'Code' button.

Can we put this link in the instructions at:
https:/

[2022-07-18 10:33] jingzhuio opened #11 "2.1 is following this link"
<https://github.com/ARS-toscana/ConcePTIONAlgorithmPregnancies/releases/tag/release_2.1>

[2022-07-18 10:35] #11 closed, assigned to nobody

[2022-07-18 18:24] jingzhuio opened #12 "packages that need to be installed manually"
ggthemes and DT

[2022-07-18 18:24] #12 closed, assigned to nobody

[2022-07-18 18:32] jingzhuio opened #13 "line 39 in scripts "to_run""
Line 39:

gives error messages:
Error in save(meaning_of_visit_pregnancy, file = paste0(direxp, "meaning_of_visit_pregnancy.RData")) :
  object "meaning_of_visit_pregnancy" not found

[2022-07-18 18:33] jingzhuio opened #14 "line 40 in script "to_run""
Line 40:

gives error messages:

Error in eval(ei, envir) :
  There is an error in coding system: one or more coding system in your data are not included in the list of coding systems supported by this script.Please contact the script programmer.

[2022-07-20 12:22] clobart commented on #14
At this stage, you can ignore this error.
It's a message displayed by us.

[2022-07-20 12:22] #14 closed, assigned to nobody

[2022-07-20 12:29] clobart commented on #10
From the green button "Code" you can download the current version of the script, but not the release one.
since we want to be sure that all execute the same version, we "frozen" the script in a release and all the DAPs need to use that one.

I think you have already sent the instructions with th correct link of the release, sorry I didn't see the tag @danielweibel

[2022-07-20 12:34] clobart commented on #13
Sorry we didn't receive the notification @jingzhuio

[2022-07-20 12:37] jingzhuio commented on #13
No problems. the script kept running after that error message. Shall I do something now and rerun the script or ...? @clobart

[2022-07-20 12:40] clobart commented on #13
I fixed the bug, it's a really small thing that doesn't affect your results (since you don't have pregnancy info in visit_occurrence)
Thank you very much to warn us.

I'll close this issue!

[2022-07-20 12:40] #13 closed, assigned to nobody

[2022-07-20 12:43] #10 closed, assigned to nobody

[2022-07-20 17:21] DSThayer opened #15 "Have all parameters in one configuration file"
Suggestion: it would be a lot easier to use the algorithm if all parameters that a user must specify were in a single file (that contained nothing else) rather than interspersed with other code throughout a number of different files.

I think it would be easier to support new users of the algorithm if this were the case, and it would be a lot easier to download and run an updated version of the co

[2022-07-20 17:27] DSThayer opened #16 "Typos in step_02_04_T2.2_create_pregnancies_from_EUROCAT"
- `birthdate` should be `birth_date` throughout the file.
- The list on lines 62-65 has a trailing comma that needs to be removed.

[2022-07-20 17:40] DSThayer opened #17 "Join issue in step_03_04_T2.2_internal_consistency_for_EUROCAT"
person_id in EUROCAT is numeric, while it's a character field in other data sources. This causes a join error in the mentioned file.

I have solved this by using `as.integer` to convert `D3_persons.person_id` and `output_spells_category$person_id` to integers (inserted at line 52 of the file). I'm not sure that is the right solution, but it makes the code work for me.

[2022-07-21 08:59] jingzhuio opened #18 "Questions for the result of the pregnancy algorithm"
From D3_pregnancy_final.RData file there are 53421 observations with 43119 IDs with pregnancy_end_date range from 2018-01-01 to 2020-08-12
How are these observation chosen? from the raw data we have 55000-60000 observations each year.
We have 2021 too.

Are SB, SA, T etc. identified by diagnose code from EVENTS table or gestational length or both? Termination seem to be quite a lot. Could you plea

[2022-07-21 09:46] jingzhuio commented on #18
where can I get the SAP of the pregnancy algorithm please? @clobart

[2022-07-21 09:54] clobart commented on #18
This is the link of the SAP
https://docs.google.com/document/d/1HzmoAOi9x9CSRZdg5qCwEHTQqMvJSthZ/

[2022-07-21 11:41] jingzhuio commented on #18
I was trying to extract T (from D3_pregnancy_final, 15902 obs with 14001 unique IDs) by using the ICD10 diagnose code in  .../p_parameters_pregnancy /03_conceptsets/concept_set_codes_pgegnancy_2220601_format_VAC4EU and noticed that after filtering  "ICD10" and "TOPFA", there is F89 which is "Unspecified disorder of psychological development".
Aslo the folder do not contain 03_conceptsets_UOSL. Wou

[2022-07-21 12:17] GiorgioLimoncella commented on #16
thanks @DSThayer, changes have been made!

[2022-07-21 12:17] #16 closed, assigned to nobody

[2022-07-21 13:15] GiorgioLimoncella commented on #18
**To extract termination** from D3_pregnancy_final please select those having type_of_pregnancy_end == "T". The codes in concept_set_codes_pgegnancy_2220601_format_VAC4EU are an old list and are no longer used, the diagnostic codelist is **ALL_full_codelist_pregnancy.csv**. Sorry for the confusion, we will dischard the old codelist.
Regarding **03_conceptsets_UOSL**: the file does not exist becaus

[2022-07-21 13:22] GiorgioLimoncella commented on #18
What is the recommended_end_date in the CDM_SOURCE file?
Please note that D3_pregnancy_final has one record per pregnancy
How many pregnancies do we expect per year?

[2022-07-21 13:40] jingzhuio commented on #18
recommended_end_date in the CDM_SOURCE is 20211231
from the birth registry, we expect 55000-60000 pregnancies per year.
I checked for T and SB, the numbers were not the same as what I get from D3 but not too far off. I guess they are from EVENTS table.

[2022-07-21 13:45] jingzhuio commented on #18
I will check again with the right codelist and let you know.
From EVENT table we have only one date. I will use end_of_pregnancy in D3 to match the date in EVENTS table as the outcomes happens at the end of pregnancy.

[2022-07-21 14:20] GiorgioLimoncella commented on #18
Some tools are implemented in the script which may be useful in this case:

- in the final report (g_describe_html/HTML_pregnancy_description.html) there are some descriptive analyses indicating the provenance of the pregnancies

- for each stream an intermediate dataset is saved in the g_intemediate folder, e.g. all records from MBRN are saved in D3_stream_PROMPT, and the records remaining after

[2022-07-21 14:31] GiorgioLimoncella commented on #17
Thanks for fixing the bug! As person_ids are usually characters, I would prefer to turn EUROCAT ids into characters rather than the other way around, how does that sound?
(because maybe some future DAP will have EUROCAT ids as character and converting them to integer will create problems)

[2022-07-21 14:35] DSThayer commented on #17
That's fine. Let me know when a corrected version is available, and I'll
test it.

On Thu, Jul 21, 2022, 10:32 AM GiorgioLimoncella ***@***.***>
wrote:

[2022-07-22 08:46] jingzhuio commented on #18
@GiorgioLimoncella
Hi Giorgio,
The email delivery to you has failed so I copied as below:

Many thanks for your explanation! I had another look this morning and it looks like what we suspected - no observations from MBRN are included, as D3_stream_PROMT_check has 0 rows.
I noticed that there are 3 big criteria, time range, fertile age, date in spell? I wouldn't believe PROMPT_check should be 0 tho

[2022-07-22 09:23] GiorgioLimoncella commented on #18
sorry for the inconvenience! I am available this afternoon, for the moment we can get in touch via giorgio.limoncella@unifi.it.

[2022-07-22 12:17] DSThayer opened #19 "Issue with step_07_01_create_aggregated_tables.r"
When creating aggregated tables, there is a pregnancy end type of "LB/SB" in list_of_type.

When trying to write the output CSV file, this type fails, because the / is interpreted as a subdirectory in the fwrite command.

[2022-07-22 12:23] DSThayer commented on #19
The issue also exists in step 07 04.

I have added a kludge of altering those file names to make it work for now.

[2022-07-25 09:50] DanOV opened #20 "Error in check_coding_system"
Error during evaluation of coding system.

It says that SIDIAP_coding is missing:

<pre style="color:#000000;background:#ffffff;"><span style="color:#44aadd; ">&gt;</span> source<span style="color:#808030; ">(</span>paste0<span style="color:#808030; ">(</span>thisdir<span style="color:#808030; ">,</span><span style="color:#0000e6; ">"/p_parameters_pregnancy/05_check_coding_system.R"</span><span st

[2022-07-25 10:39] DanOV opened #21 "Warnings in Step 04 and Issue in Main Reconciliation"
Several warnings during Step04:

<pre style="color:#000000;background:#ffffff;">source<span style="color:#808030; ">(</span>paste0<span style="color:#808030; ">(</span>thisdir<span style="color:#808030; ">,</span><span style="color:#0000e6; ">"/p_steps_pregnancy/step_03_01_T2.2_internal_consistency_for_prompts.R"</span><span style="color:#808030; ">)</span><span style="color:#808030; ">)</span>
De

[2022-07-26 09:03] bpoblador opened #22 "Conceptset for EpiChron doesn`t exist"
@clobart , @GiorgioLimoncella

I obtain the error "No such file or directory" for the path "../ConcePTIONAlgorithmPregnancies-manuscript/p_parameters_pregnancy/03_conceptsets/03_conceptsets_EpiChron.R"

It is because it doesn't exist within the folder:
![error](https://user-images.githubusercontent.com/99145664/180967867-5a584d0d-bfd0-4812-b916-7c5b7a5bac94.JPG)

[2022-07-26 09:53] clobart commented on #20
No, this is more a "warning" message that we displayed.
We will delete it, just ignore it! Thanks :)

[2022-07-26 09:53] #20 closed, assigned to nobody

[2022-07-26 12:13] clobart commented on #15
Thanks for the suggestion! We'll take into account for next programs.

We put together all the parameters for transparency, surely it's less easy to fill in for DAPs, but it's useful for the program.

[2022-07-26 12:13] #15 closed, assigned to nobody

[2022-07-26 13:56] GiorgioLimoncella commented on #22
@bpoblador the script has been added, sorry for the inconvenience!

[2022-07-26 13:56] #22 closed, assigned to nobody

[2022-07-26 13:59] GiorgioLimoncella commented on #21
Probably the error comes from a previous step, can we arrange a call to check the results of the intermediate steps together?
please contact me at giorgio.limoncella@ars.toscana.it

[2022-07-26 14:39] GiorgioLimoncella commented on #19
thanks @DSThayer, I turned "LB/SB" in "LB_or_SB", it should no longer create errors

[2022-07-26 14:39] #19 closed, assigned to nobody

[2022-07-26 15:00] GiorgioLimoncella commented on #17
The bug has been fixed, thank you!

[2022-07-26 15:00] #17 closed, assigned to nobody

[2022-07-29 17:43] DanOV commented on #21
Hi,
I think that the issue was solved by fixing the INSTANCE table by following you indications.
Thanks a lot for the help.

[2022-07-29 17:43] #21 closed, assigned to nobody

[2022-08-03 15:43] DSThayer opened #23 "Issue with validation sample"
The pregnancy sample CSV file the instructions tell us to use for validation doesn't include the person_id, which makes it impossible to validate pregnancies, since they can't be linked to other records.

The equivalent .Rdata file does have person_id, but it doesn't group all pregnancy records with the same pregnancy_id. Only one record per pregnancy has pregnancy_id assigned.

Understanding whic

[2022-08-03 16:33] DSThayer opened #24 "Unclear how to complete validation variables"
A couple of things that are not clear from the validation documentation:

1. Which date should be used for reference for values such as pregnancy_start_date_difference?

e.g. "1 = < 5 days before". Does this mean the correct pregnancy start date is <5 days before the algorithm's pregnancy start date, or is it the other way around?

2. How to complete the variables if I conclude that a pregnancy sh

[2022-08-03 16:49] DSThayer opened #25 "How can I define the preferred dataset when two sources don't agree?"
In some cases, I am finding pregnancies that have a birth date in the birth registry (a survey in the CDM), as well as a delivery procedure code in hospital data. The dates differ by a few days.

When this occurs, we need to pick the birth registry date as the correct date. However, it is selecting the procedure date. Is there a way to set parameters so that the birth registry will be considered t

[2022-08-04 07:23] GiorgioLimoncella commented on #23
All pregnancies in the table should already be linked to the records that compose it.
The structure of the dataset "sample_from_pregnancy" is as follows:
for each pregnancy you have a first row indicating the result of the algorithm (also containing the pregnancy_id, which was generated by the algorith) and listed below all the records that composed the pregnancy.

![Immagine 2022-08-04 085031](ht

[2022-08-04 07:33] GiorgioLimoncella commented on #24
sorry the instructions are not clear! I will try to update them.

1. "1 = < 5 days before" mean the correct pregnancy start date is <5 days before the algorithm's pregnancy start date.

2.  if a record should not represent a pregnancy it is very important that you write the reason in the comments section (for possible algorithm update), then you can fill in the columns "pregnancy_start_date_correc

[2022-08-04 07:53] GiorgioLimoncella commented on #25
It is possible to make a DAP-specific hierarchy, but this should not be the case because the birth registry should already prevail in the hierarchy.

here is the hierarchy:
![Immagine 2022-08-04 093707](https://user-images.githubusercontent.com/78428400/182791578-98f363fd-998d-4f72-b3f8-012c7cc107d6.png)

I saw that in github the files with the parameters for your datasource are missing, could you

[2022-08-04 08:18] RosaMGini commented on #25
@GiorgioLimoncella this is the first time we run the algorithm on a data source having EUROCAT, is it possible that this triggered a bug that messed with the hierarchy?

[2022-08-04 08:59] GiorgioLimoncella commented on #25
yes it is possible! Thanks for the suggestion, I will check it out

[2022-08-04 15:09] DSThayer commented on #23
Hi Giorgio,

Thanks for explaining. I imported the data into our database to link to source data for validation. In so doing, this relationship was lost, since DB tables do not have a deterministic order. However, that is something I can address in my import.

Dan

[2022-08-04 15:09] #23 closed, assigned to nobody

[2022-08-05 00:16] DSThayer commented on #24
Thanks very much for clarifying!

[2022-08-05 00:16] #24 closed, assigned to nobody

[2022-08-05 13:41] clobart commented on #25
There was a bug in the creation of the sample, but the content is correct!

[2022-08-05 13:41] #25 closed, assigned to nobody

[2022-08-05 13:47] DSThayer opened #26 "Pregnancies created based on nonspecific code"
In our validation sample, we had several pregnancies created based solely on the code R15X (fecal incontinence), with no other evidence of a pregnancy.

This does not seem correct, since this condition (while common during delivery) is not specific to pregnancy.

[2022-08-05 13:55] clobart commented on #26
@acidroyo-UMCU @msturkenboom @cduransalinas

[2022-08-11 10:47] jingzhuio commented on #18
@GiorgioLimoncella @clobart
Hi Giorgio and Claudia,
I made some misakes with the SURVEY tables before I went on holiday and we have to rerun the pregnancy algorithm. Somehow the  CONCEPTSET only include observations from 2019 when it supposed to include from 2010. Could you help us have a look? Luigi has sent an email to you both this morning.

[2022-08-11 16:16] elisabianchini opened #27 "Describing D3_Stream_CONCEPTSETS - HSD ERROR"

[2022-08-12 07:33] elisabianchini opened #28 "HSD error- thisdir,"/p_parameters_pregnancy/05_check_coding_system.R"
Error in eval(ei, envir) :
  There is an error in coding system: one or more coding system in your data are not included in the list of coding systems supported by this script.Please contact the script programmer.

[2022-08-15 10:32] jingzhuio opened #29 "definition of "Termination" and "Unknown""
the numbers of Termination appear to be too high. After checking the D3_Stream_CONCEPTSET, we found that the ICPC code W82 - abortion spontaneous is used to define "Interruption" which mainly contribute to the count of termination. This should not be correct.

Could you tell us how the Unknown is defined? we can find quite a few diganose code.

[2022-08-19 12:00] emilyholthuispharmo opened #30 "Error in script"
@clobart @GiorgioLimoncella  Hi both!

I was just running the script however, I received an error when running this step:
### > source(paste0(thisdir,"/p_parameters_pregnancy/05_check_coding_system.R"))
Error in eval(ei, envir) :
  There is an error in coding system: one or more coding system in your data are not included in the list of coding systems supported by this script.Please contact the sc

[2022-08-22 13:52] clobart commented on #27
I know that it's already fixed, I close the issue!

[2022-08-22 13:52] #27 closed, assigned to nobody

[2022-08-22 13:54] clobart commented on #28
You can skip this, anyway we removed this message that can be misleading!

[2022-08-22 13:54] #28 closed, assigned to nobody

[2022-08-22 13:55] clobart commented on #30
Hi Emily, you can skip this message.
Anyway we removed it from the script, because it can be misleading.
Thanks!

[2022-08-22 13:55] #30 closed, assigned to nobody

[2022-08-22 14:12] GiorgioLimoncella commented on #29
Hi Jing,
a pregnancy is defined as UNK only when there is no record related to the end of the pregnancy (e.g. only an ongoing record is retrieved).

Regarding ICPC code W82: this is probably an error, we will notify the codelist creators @cduransalinas @RosaMGini

[2022-08-23 10:24] DuranSalinas commented on #26
Totally agree.
I will check it.
Could you please let me know the concept set where this code is?

[2022-08-23 12:55] clobart commented on #26
It's in both _Livebirth_ and _BirthPossible_

[2022-08-23 13:22] emilyholthuispharmo opened #31 "Question about opening output in R"
@GiorgioLimoncella @clobart

Hi both, hope you are doing well.
I have two short questions regarding opening the output in R.

Firstly, if I want to open the 'HTML_pregnancy_description.html' file, I receive a note that the file is too large to open in the source editor. The file is 14.1 MB and maximal file size is 5 MB. How would you recommend me to open this?

Secondly, I wanted to open the 'D3_p

[2022-08-24 06:48] anallg opened #32 "step 02_03 - No file LastMenstrualPeriod_implying_pregnancy.RData"
Dear @GiorgioLimoncella and @clobart,

we have a problem executing the step 02_03_T2.2_create_pregnancies_from_itemsets.R. It seems that it needs the file LastMestrualPerior_impliying_pregnancy but it has not been generated in g_intermediate

![image](https://user-images.githubusercontent.com/102151171/186349834-d5a1d2c6-f0e0-4429-8abb-e3c273d18be2.png)

[2022-08-25 00:13] #18 closed, assigned to nobody

[2022-08-25 07:56] GiorgioLimoncella commented on #32
Dear @anallg,

other dap had the same error and we fixed the bug.

you should replace the file 02_itemset.R (in the folder p_parameter_pregnancy) and the file step_02_03_T2.2_create_pregnancies_from_itemsets.R (in the folder p_steps_pregnancy).
The updated version of these steps can be found on github, in branch version_2.0.
Otherwise you can write to me at giorgio.limoncella@ars.toscana.it and I

[2022-08-25 08:20] anallg commented on #32
Dear @GiorgioLimoncella,
do I have  to execute from the beggining again? If I run only 02_3 I have the following error:

Error in readChar(con, 5L, useBytes = TRUE) : cannot open the connection
In addition: Warning message:
In readChar(con, 5L, useBytes = TRUE) :
  cannot open compressed file 'G:/ConcePTION/RET-VAL/Pregnancy/v5.0_ConcePTIONAlgorithmPregnancies-manuscript/g_intermediate/LastMestrua

[2022-08-25 08:53] GiorgioLimoncella commented on #32
Yes! you need to re-run from the beginning.

to make sure it works I also updated your itemset file, could you replace that too before running? It would be **02_itemsets_BIFAP.R** in p_parameters_pregnancy/02_itemset/

[2022-08-30 08:24] karinswart commented on #31
@GiorgioLimoncella @clobart
Could you please include me in the communication, as Emily soon will be leaving PHARMO?
Thanks, Karin

[2022-08-30 12:21] #32 closed, assigned to nobody

[2022-09-01 10:36] GiorgioLimoncella opened #33 "Missing code"
We noticed that the code O04 ('medical abortion', ICD-10)  is not present in the codelist used in the script.
However, the code is present in the VAC4EU repository and it is within a range: O00-O06.
Is it possible that there was an error with the ranges in converting the list? @cduransalinas

[2022-09-05 17:45] JR-Farcli commented on #33
Eimir and I we have the same concern. I took a look at the codelist for Elective Termination of Pregnancy, and saw that for example in one row we have as **Narrow O04**; but we also have in another row, **O00-O08 as Possible**. I highlighted these in the Excel attached.
[P_ELECTTERM_AESI.xlsx](https://github.com/ARS-toscana/ConcePTIONAlgorithmPregnancies/files/9491471/P_ELECTTERM_AESI.xlsx)

I won

[2022-09-06 07:20] jingzhuio commented on #29
@GiorgioLimoncella
Hi Giorgio,
Hope all is well! I'm  just wondering if there's any updates with the codelist/scripts since last time. :)
Best, Jing

[2022-09-07 10:48] RosaMGini commented on #33
dear judit, carlos and albert,

for us, the 'narrow' definition always wins, it is intended that those codes are inspected with special care (when i doubt you leave 'possible')

@JR-Farcli @cduransalinas we are having a call with coauthors of the pregnancy manuscript tomorrow, could you join?

we need to make a new release of the pregnancy script, based on the feedback from the DAPs. we have now u

[2022-09-07 11:06] RosaMGini commented on #33
i was forgetting that part of the problem is due to the fact that adding some ICD10 codes requires to go back to codemapper and check if they have new codes in the other coding systems, and then add such codes as well. so, let's decide together how to proceed

[2022-09-07 12:06] clobart commented on #33
@giuhye @AnnaGirardi22

[2022-09-08 11:26] karinswart opened #34 "Error Pandoc conversion"
@clobart @GiorgioLimoncella
Error: pandoc document conversion failed with error 61

Hi Claudia and Giorgio,
I got this error while running the script. It doesn't produce HTML files. Do you know how we could solve this?
Thanks,
Karin

[2022-09-09 14:44] GiorgioLimoncella commented on #34
Hi @karinswart,

this error seems to be related to folder permissions or something similar, is the programme running on a server?
Could you tell me what is your version of R and what packages are installed? you can find it by writing in the r console sessionInfo()

unfortunately it is not an algorithm error and i cannot reproduce it on my machine, but we can make an initial attempt by starting R a

[2022-09-14 11:22] RosaMGini commented on #33
@JR-Farcli @cduransalinas @eimirh during our validation we foud that ICD9CM code 671 is wrongly labelled as 'birth_narrow': the label is in fact "Venous complications in pregnancy and the puerperium". so the code is 'birth_possile' at best (in fact it refers to puerperium as well). for sure it is not 'birth_narrow'

[2022-09-16 15:19] RosaMGini opened #35 "codelist comparison between outcome and pregnancy conceptsets"
dear @DavideMessinaARS

you can find in ARS' folder ConcePTIONcomponents\pregnancy\codelists\comparison_2209\1_input_six_codelists three pairs of spreadsheets

P_ELECTTERM_AESI - P_Interruption_PrA

P_SPONTABO_AESI - P_SpontaneousAbortion_PrA

P_STILLBIRTH_AESI - P_StillBirth_PrA

the first member of each pair contains two conceptsets (narrow and possible) for the clinical outcome; the second memb

[2022-09-19 10:00] DavideMessinaARS commented on #35
Script and results have been uploaded in ConcePTIONcomponents\pregnancy\codelists\comparison_2209

[2022-09-19 10:00] DavideMessinaARS commented on #35
Script and results have been uploaded in ConcePTIONcomponents\pregnancy\codelists\comparison_2209

[2022-09-19 12:51] eimirh commented on #35
Thanks  Davide.

Apologies, Do I have access to that folder to have a look at the output?
E

[2022-09-19 14:04] RosaMGini commented on #35
@DavideMessinaARS can you post it on the VAC4EU Sharepoint?

[2022-09-19 15:29] RosaMGini commented on #35
dear @eimirh @JR-Farcli @cduransalinas

find [here](https://vac4eu.sharepoint.com/sites/Toolbox/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FToolbox%2FShared%20Documents%2F08%20Event%20%26%20Covariate%20definitions%2FPregnancyAlgorithmConception%2Fcomparisons%5Fbetween%5Flists%5Foutcomes%5Fand%5FprA&viewid=8c361874%2D61d2%2D40c1%2Db4cf%2De3e1de20abec) in the folder 2_output_comparison 3 sp

[2022-09-20 12:45] eimirh commented on #35
Dear all,
Ive gone through the results of the comparison. Thanks a mill Davide for doing that.
I've commented on the three sheets I placed in folder 3.  Not that many differences. please have a look when you get a chance.

There are a few concepts that were in the three PrA  codelists that were not in the AESII lists. I added those I was confident about in CodeMpapper
There are a few outstanding C

[2022-09-21 09:02] RosaMGini commented on #35
@AnnaGirardi22 and @giuhye can you check whether there is any code that was left out?

[2022-09-21 11:43] AnnaGirardi22 commented on #35
@RosaMGini @eimirh are you referring to all the codes we received from BIFAP, BIPS and BPE?
We will consider than this [document](https://vac4eu.sharepoint.com/:w:/r/sites/Toolbox/_layouts/15/Doc.aspx?sourcedoc=%7B198521BA-C25F-45AB-99A3-FBFBED154F70%7D&file=ConcePTION_pregnancy_algorithm_description_diagnostic_codes_v5.docx&action=default&mobileredirect=true) , correct?
Thanks!

[2022-09-21 11:52] eimirh commented on #35
Hi,

If we are going with the three AESI codelists below (which I believe we are), we need to check that the codes identified by the DAPS are also held within  these codelists..

P_ELECTTERM_AESI  rather than P_Interruption_PrA

P_SPONTABO_AESI rather than P_SpontaneousAbortion_PrA

P_STILLBIRTH_AESI rather  P_StillBirth_PrA

Correct ?

E

[2022-09-21 12:17] AnnaGirardi22 commented on #35
@RosaMGini @eimirh
aren't we considering for the task assigned (i.e. codes provided by DAPs possibly left out from the lists) the three sheets in folder 3_reclassified? Or the AESI codelist files (P_ELECTTERM_AESI, P_SPONTABO_AESI, P_STILLBIRTH_AESI)?
thanks

[2022-09-21 12:39] eimirh commented on #35
I would choose the later Anna.

If possible see if there are codes that the DAPs have flagged that are not in the three AESI sheets (in folder 1).

Thanks Anna
E

On 21 Sep 2022 14:18, AnnaGirardi22 ***@***.***> wrote:

@RosaMGini<https://github.com/RosaMGini> @eimirh<https://github.com/eimirh>
aren't we considering for the task assigned (i.e. codes provided by DAPs possibly left out from the list

[2022-09-21 13:05] AnnaGirardi22 commented on #35
Perfect @eimirh ! many thanks, will update you as soon as we finish

[2022-09-21 18:39] AnnaGirardi22 commented on #35
results have been saved in ConcePTIONcomponents\pregnancy\codelists\comparison_2209\4_check with DAPs

[2022-09-21 20:15] eimirh commented on #35
Hi,

Is it possible to share the link with me to check these?

Sorry!

Thanks  a mill,

E

[2022-09-22 09:52] AnnaGirardi22 commented on #35
@eimirh we sent an email with the document some minutes ago
Best

[2022-09-22 09:54] eimirh commented on #35
Smashing. have it.

Tx

E

Eimir Hurley, PhD
Researcher

(My name is Irish and is pronounced Ee-mer)

Pharmacoepidemiology and Drug Safety Research Group,
Department of Pharmacy,
Faculty of Mathematics and Natural Sciences,
University of Oslo,
Norway
________________________________
From: AnnaGirardi22 ***@***.***>
Sent: 22 September 2022 11:52:26
To: ARS-toscana/ConcePTIONAlgorithmPregnancies
Cc:

[2022-10-03 10:50] RosaMGini commented on #35
hi @eimirh @AnnaGirardi22 @JR-Farcli @cduransalinas @giuhye

we (myself, @clobart and @GiorgioLimoncella) donwloaded from the VAC4EU sharepoint the file

20220930_V2_ALL_full_codelist,csv

generated by @acidroyo-UMCU from the files you work in (@acidroyo-UMCU correct us if the file is the wrong one)

we found  under 'type' PrA or AESI the list of conceptsets below, that we found, that we need to m

[2022-10-03 12:14] eimirh commented on #35
Hi all.

Please see my comments on the doc: https://docs.google.com/spreadsheets/d/1TA1J9UGHsrbme49aP2j7CHUYd9xh1HUICPiBTyIs0s8/edit#gid=0

[2022-10-04 09:01] RosaMGini commented on #35
thank you very much eimir!

i have now updated a new column, G, where i have incorporated eimir's comment. @AnnaGirardi22 @JR-Farcli @cduransalinas @giuhye do you have any additional comments?

in particular please note that all conceptsets specifiying length of pregnancy ( (Gestation_less24 Gestation_25_26 Gestation_27_28 Gestation_29_30 Gestation_31_32 Gestation_33_34 Gestation_35_36 Gestation_m

[2022-10-04 09:08] acidroyo-UMCU commented on #35
Hello @***@***.***>

We have updated the code list again. Here you can find the link to the new code list. https://vac4eu.sharepoint.com/sites/Toolbox/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FToolbox%2FShared%20Documents%2F08%20Event%20%26%20Covariate%20definitions%2FDiagnosisCodeSheet%2FCombined%20codelist%2F4%20October%202022&viewid=8c361874%2D61d2%2D40c1%2Db4cf%2De3e1de20abec&OR=Tea

[2022-10-04 09:55] RosaMGini commented on #35
thanks @acidroyo-UMCU! is the 'V2' list still the good one? let us just check whether there are new conceptsets then, if so we need to update the spreadsheet

[2022-10-04 10:41] giuhye commented on #35
Hi all,

Anna and i reviewed the google spreadsheet and we completely agree with eimir's indications.

Best,

Giulia and Anna

[2022-10-04 13:02] RosaMGini commented on #35
guys, how complex would it be to split the concepts in

Gestation_less24 Gestation_25_26 Gestation_27_28 Gestation_29_30 Gestation_31_32 Gestation_33_34 Gestation_35_36 Gestation_more37

between those than mean that the pregnancy has ended in LB, those that mean that the pregnancy has ended in another manner, and those that don't imply that the pregnancy has ended?

@AnnaGirardi22
@giuhye

can you

[2022-10-04 17:28] giuhye commented on #35
@cduransalinas can you please confirm that files mentioned by Rosa (i.e. "Gestation_less24", "Gestation_25_26", "Gestation_27_28", "Gestation_29_30", "Gestation_31_32", "Gestation_33_34", "Gestation_35_36", "Gestation_more37") are the excel files present in VAC4EU SP in the folder "AESI & Covariate definition forms & Algorithms"?

If so,  they are not huge files and the task proposed by Rosa shoul

[2022-10-04 20:07] cduransalinas commented on #35
Yes, those files are present in VAC4EU SP.

El mar, 4 oct 2022 a la(s) 12:28, giuhye ***@***.***)
escribió:

[2022-10-05 10:59] giuhye commented on #35
Dear @cduransalinas @eimirh @JR-Farcli and @RosaMGini ,

Anna and i completed the review of concepts suggested by Rosa. All changes were made in the relevant files in the SP folder "AESI & Covariate definition forms & Algorithms". In particular, we split the original file into two files named UNK and LB.

Best,

Giulia and Anna

[2022-10-05 14:16] clobart commented on #35
Dear all @acidroyo-UMCU @cduransalinas @eimirh and @JR-Farcli,

Giorgio and I have changed manually the splitted concept sets into a new version of the codelist for the pregnancy algorithm, so we can start to test the script on our data.

So this task of producing an updates codelist is not a priority! But for completeness, when you are free @acidroyo-UMCU, can you please produce the list and put

[2022-10-05 14:18] eimirh commented on #35
Thanks a million all for all your work on this.

Its really appreciated.

With kind regards,

Eimir

Eimir Hurley, PhD
Researcher

(My name is Irish and is pronounced Ee-mer)

Pharmacoepidemiology and Drug Safety Research Group,
Department of Pharmacy,
Faculty of Mathematics and Natural Sciences,
University of Oslo,
Norway
________________________________
From: Claudia ***@***.***>
Sent: 05 Octobe

[2022-10-05 14:29] acidroyo-UMCU commented on #35
Hello Claudia,

When were these codes included? Yesterday, I produced a new version of the code list; you can find it here. https://vac4eu.sharepoint.com/sites/Toolbox/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FToolbox%2FShared%20Documents%2F08%20Event%20%26%20Covariate%20definitions%2FDiagnosisCodeSheet%2FCombined%20codelist%2F4%20October%202022&viewid=8c361874%2D61d2%2D40c1%2Db4cf%2De3

[2022-10-05 14:45] RosaMGini commented on #35
dear @acidroyo-UMCU

don' worry and take your time in producing the new codelist: the final changes were included today and @clobart was able to tweak manually the codelist you produced yesterday - so we can now test and if everything is ok we can release

then when you have time to update formally the codelist just drop us a notification here and we will include it. thx!!!

cheers, rosa&team

[2022-10-06 13:19] clobart opened #36 "Misclassification of codes"
Looking at the results we found some codes that are misclassified for the concept set **Livebirth**, **BirthNarrow** and **Preterm**
I copied here the table of the codes for each concept set that are actually codes of the CHILD and **not** of the mother

|        |              | concept_set |         |
|--------|--------------|-------------|---------|
| codvar | Birth_narrow | Livebirth   | Prete

[2022-10-06 13:30] clobart commented on #36
@acidroyo-UMCU once Anna and Giulia have finishe is review can you please generate the full codelist for us?
this time the changes are many and it's not prudent to make them manually

[2022-10-06 16:48] clobart commented on #36
I found also these other 4 codes in Livebirth and Birth_narrow

| codvar | Birth_narrow  | Livebirth |
|--------|---------------|-----------|
| 67122  | 1             | 0         |
| 76422  | 0             | 1         |
| 76528  | 0             | 4         |
| 7771   | 0             | 1         |

@AnnaGirardi22 @giuhye

[2022-10-07 10:07] RosaMGini commented on #35
this issue is followed up by [this one](https://github.com/ARS-toscana/ConcePTIONAlgorithmPregnancies/issues/36)

[2022-10-07 10:31] RosaMGini commented on #35
@acidroyo-UMCU an additional code revision is ongoing, so the generation of the codelist will only be needed at some point next week

[2022-10-07 11:11] clobart opened #37 "splitted code in the same folder on SP"
Dear @acidroyo-UMCU,

@AnnaGirardi22 @giuhye have splitted some concept sets and have done 2 separated excel sheet for each concept set (inside each folder). This is an example:
![image](https://user-images.githubusercontent.com/38613747/194540067-c86e07f6-f32b-4fa3-9c00-1cc7761f92b8.png)

Is this a problem for the function that put together all the codes inside the folders?
If yes, how do you wan

[2022-10-10 11:40] cduransalinas commented on #37
@acidroyo-UMCU,
today at 4pm, we are going to work with ARS team to get ready the folders in the VAC4EU Sharepoint.
We will come back to you once this is done to generate a new code list. Thank you.

[2022-10-11 09:21] eimirh commented on #35
Hi,

Is it possible to share the link with me to check these?

Sorry!

Thanks  a mill,

E

Eimir Hurley, PhD
Researcher

(My name is Irish and is pronounced Ee-mer)

Pharmacoepidemiology and Drug Safety Research Group,
Department of Pharmacy,
Faculty of Mathematics and Natural Sciences,
University of Oslo,
Norway
________________________________
From: AnnaGirardi22 ***@***.***>
Sent: 21 September

[2022-10-12 15:27] GiorgioLimoncella commented on #37
The new code list has been generated, however, the gestation age concepts are missing.
It seems that after these concepts were updated, the masterfile was not updated with the new concept names and therefore they were not included.
@cduransalinas can you please check? Many thanks!

[2022-10-12 15:51] GiorgioLimoncella commented on #37
Many thanks, here is the list of the new folders, it might come in handy:

   - P_Gestation2526weeksLB_PrA_Gestation 25 26 weeks

   - P_Gestation2526weeksUNK_PrA_Gestation 25 26 weeks unknown

   - P_Gestation2728weeksLB_PrA_Gestation 27 28 weeks LB

   - P_Gestation2728weeksUNK_PrA_Gestation 27 28 unknown

   - P_Gestation2930weeksLB_PrA_Gestation 29 30 weeks LB

   - P_Gestation2930weeksUNK_PrA

[2022-10-13 06:47] cduransalinas commented on #37
I have included all new names into the master file on the Vac4EU SP.
The list can be produced again.
Thank you.

[2022-10-13 08:21] GiorgioLimoncella commented on #37
Many thanks @cduransalinas!
@acidroyo-UMCU could you please update the full code list? Now it should include all the concepts.
thank you!

[2022-10-13 10:01] acidroyo-UMCU commented on #37
Dear all,

Here you have the updated code list:

https://vac4eu.sharepoint.com/sites/Toolbox/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FToolbox%2FShared%20Documents%2F08%20Event%20%26%20Covariate%20definitions%2FDiagnosisCodeSheet%2FCombined%20codelist%2F14%20October%202022&viewid=8c361874%2D61d2%2D40c1%2Db4cf%2De3e1de20abec

Best,
Albert

From: GiorgioLimoncella ***@***.***>
Reply to: A

[2022-10-13 14:23] GiorgioLimoncella commented on #37
@cduransalinas  @acidroyo-UMCU
excel is messing up the format of the codes and we would like to download the list directly in csv.
From share point however we can't do it, is there any way to get the list directly into csv?
Thanks, Giorgio

[2022-10-13 17:39] giuhye commented on #37
Dear @cduransalinas and @acidroyo-UMCU,

we did not find in the 20221013_V2_ALL_full_codelist the following event_abbreviation although they are included in the master file:

-Gestationlessthan24weeksL
-Gestationlessthan24weeksU
-Gestation2728weeksUNK
-Gestation3132weeksUKN

@GiorgioLimoncella and i also split the file named "P_24weeksL_PrA" into "P_24weeksLB_PrA" and "P_24weeksUNK_PrA". Could you

[2022-10-14 11:12] GiorgioLimoncella commented on #37
@cduransalinas @acidroyo-UMCU

@giuhye  and I have temporarily included the missing codes in the script one by one.
If fixing the codes in the share point takes too long we can still make the release with this correction and update it later.
Anyway, to do this we would still need access to the file in csv format!

[2022-10-14 12:06] #37 closed

[2022-10-19 10:36] LAMaglan opened #38 "Problem (and solution) for "Diagnosis" blocks in 04_algorithms_pregnancy.R"
There is an error when
`if (concept_set_domains[[conceptset]] == "Diagnosis"){}`
lines are run in the for loops in "04_algorithms_pregnancy.R"
https://github.com/ARS-toscana/ConcePTIONAlgorithmPregnancies/blob/version_3.0/p_parameters_pregnancy/04_algorithms_pregnancy.R

`for (conceptset in concept_set_pregnancy){}`

(see screenshot)
![conceptset_error](https://user-images.githubusercontent.com/29

[2022-10-19 11:41] bpoblador opened #39 "Warning in step_03_03_T2.2_internal_consistency_for_itemsets.R"
@clobart

Runnin the file step_03_03_T2.2 I obtain the next warning: _In max(num spell) : no finite argument to max; returning -Inf_

It is just a warning but i don't know if it's relevant for execution.

[2022-10-19 12:16] GiorgioLimoncella commented on #38
Hello,
All "conceptsets" must exist in the "concept_set_domains" list.
Can you please run the file "to_run.R" up to line 44 and then type in the console
`concept_set_pregnancy[concept_set_pregnancy %notin% names(concept_set_domains)]` ?

should print out the concepts that are not in concept_set_domains, if you send them to me later I'll try to figure out the problem!

Many thank!

[2022-10-19 12:45] frasansa opened #40 "LastMestrualPeriodImplyingPregnancy.RData is not created"
Dear @RosaMGini, @GiorgioLimoncella and @clobart,

We have the following error in VID when running the version 3.0:

Error in readChar(con, 5L, useBytes = TRUE) : cannot open the connection
In addition: Warning message:
In readChar(con, 5L, useBytes = TRUE) :
  cannot open compressed file 'D:/R_Projects/CONSIGN_L4/ConcePTIONAlgorithmPregnancies-release_3.0/g_intermediate/LastMestrualPeriodImplying

[2022-10-19 13:04] GiorgioLimoncella commented on #40
Hi @frasansa,

sorry, we inserted a new concept and forgot to update the parameters for VID.  Luckily it is an easy fix!
would you please add the following code to line 90 in the p_parameters_pregnancy/02_itemset/02_itemset_VID file?

[code]
or otherwise you can download the file from github, I just updated it !

thank you very much, Giorgio

[2022-10-19 13:18] #26 closed, assigned to nobody

[2022-10-19 13:20] #29 closed, assigned to nobody

[2022-10-19 13:20] #33 closed, assigned to nobody

[2022-10-19 13:21] #35 closed, assigned to nobody

[2022-10-19 13:21] #36 closed, assigned to nobody

[2022-10-19 13:24] frasansa commented on #40
Thanks @GiorgioLimoncella,

I will rerun it with the fix.

PS: another one bracket is needed after files[i]]:

### specification LastMestrualPeriodImplyingPregnancy
itemsetMED_AVpair_pregnancy[["LastMestrualPeriodImplyingPregnancy"]][[files[i]]**]**[["VID"]] <- list()

[2022-10-19 13:26] #31 closed, assigned to nobody

[2022-10-19 13:58] LAMaglan commented on #38
When running:
`concept_set_pregnancy[concept_set_pregnancy %notin% names(concept_set_domains)]`
I get:
"fetal_nuchal_translucency", "amniocentesis", "Chorionic_Vllus_Sampling", "others".
(this is also the cases where a for loop in a later step, `step_03_02_T2.2_internal_consistency_for_conceptsets.R` gives errors)

[2022-10-19 15:13] GiorgioLimoncella commented on #38
thank you very much, we found the problem, the fixed version is updated in GH.

the files we have modified are the following:

- .../p_parameters_pregnancy/03_concept_sets.R
- .../p_steps_pregnancy/step_02_02_T2.2_create_pregnancies_from_conceptsets.R

could you please replace them in your folder and run the script again?

thanks again, Giorgio

[2022-10-20 07:31] LAMaglan commented on #38
Great! This problem seems to be fixed - the code you asked me to run now returns nothing (`character(0)`).
It does not seem like these updated scripts were pushed to the github-repo yet (at least in the version_3.0 branch)
but received in e-mail.

[2022-10-20 07:49] GiorgioLimoncella commented on #38
you're right, I actually pushed to the wrong branch.  Thanks for notifying it I will fix it right away

[2022-10-20 07:49] #38 closed, assigned to nobody

[2022-10-20 07:57] #40 closed, assigned to nobody

[2022-10-20 07:57] frasansa commented on #40
Fixed!

[2022-10-20 08:09] clobart commented on #39
Thanks for warn us! @bpoblador

Is the script still running?
I think we can check the consistency of the results at the end of the run, let us know!

[2022-10-20 14:16] bpoblador commented on #39
Yes, it finished normally.

[2022-10-21 09:50] frasansa opened #41 "mo_source_value could be non-numeric"
Dear @GiorgioLimoncella,

Could you add to VID specification of **step_02_03_T2.2_create_pregnancies_from_itemsets.R** an **as.numeric** function in the **mo_source_value*7** statement at line 33?
With this fix, the algorithm runs fine for VID database, even when in mo_source_value are also text for some rows, so mo_source_value is a character column.

**Current code**

[code]

**Suggested Code**

[2022-10-21 10:19] GiorgioLimoncella commented on #41
Hi @frasansa, thank you very much for the debug!

I added your modification to the script as you suggested

[2022-10-21 10:19] #41 closed, assigned to nobody

[2022-10-21 15:00] eimirh opened #42 "type_of_id is returning all observations as visit_occurence_id"
Hi guys,

@jingzh95 @GiorgioLimoncella
In the smaller output dataset, the variable type_of_id is returning all values as visit_occurence_id and none as survey_id.
My lovely colleague Jing wrote this for me to describe it better to you guys.
Thanks a lot, Eimir

D3_survey_and_visit_ids$type_of_id[D3_survey_and_visit_ids$meaning_of_id="birth_registry_mother"] <- "SURVEY_id"

[2022-10-21 15:30] GiorgioLimoncella commented on #42
Hi,
we quickly checked and this could happen if the records have both survey_ID and visit_occurrence_ID (but this is not possible, right?). Could you please check if in the dataset D3_groups_of_pregnancies_reconciled (in the g_intermediate folder) there are records with both survey_ID and visit_occurrence_ID?

with the data.table library the code would be:

`D3_groups_of_pregnancies_reconciled[!is

[2022-10-21 15:45] jingzh95 commented on #42
returns 262552

[2022-10-24 07:43] GiorgioLimoncella commented on #42
Hi @jingzh95,
could you please check in D3_groups_of_pregnancies_reconciled what value the visit_occurrence_ids take when the meaning is "birth_registry_mother"?
they should all be NA, but they are not

thanks! Giorgio

[2022-10-24 07:45] eimirh commented on #42
Hi Giorgio,

It returns the survey_id from the birth registry  (I believe) but names everything visit_occurrence_id.

Ill be back in the data in 30 mins so can check then and confirm.

E

Eimir Hurley, PhD
Researcher

(My name is Irish and is pronounced Ee-mer)

Pharmacoepidemiology and Drug Safety Research Group,
Department of Pharmacy,
Faculty of Mathematics and Natural Sciences,
University of O

[2022-10-24 07:59] jingzh95 commented on #42
It's empty string ""

[2022-10-24 10:47] GiorgioLimoncella commented on #42
that explains the error!

I changed line 151 of step 'step_05_02_create_D3_final.R'

this is the old code

[code]

and this is the new one

[code]

you can directly change these lines of code in the step, or you can download the entire step (it is already updated on the repo).
once the step has been updated you can run just that. If the R environment has been reset you should first run the first l

[2022-10-24 11:10] frasansa opened #43 "Error in step_03_01_T2.2_internal_consistency_for_prompts.R""
Dear @GiorgioLimoncella,

We have ran the script without errors, but then we found that the information of the EOS origin table was not etl'd properly into Survey Observations. We have fixed it, but now we have the following error when running the algorithm:

Error in vecseq(f__, len__, if (allow.cartesian || notjoin || !anyDuplicated(f__,  :
  Join results in 3508637 rows; more than 2382493 = nro

[2022-10-24 12:04] clobart commented on #42
@jingzh95 @eimirh ARS email has not worked since this morning, if you need us, please write here!

[2022-10-24 12:19] jingzh95 commented on #42
@GiorgioLimoncella Thanks Giorgio! We have updated the script. @eimirh

[2022-10-24 12:21] eimirh commented on #42
Thanks a million all for this,

E

[2022-10-24 12:27] clobart commented on #43
Hi @frasansa,

This error always occurs when you try to merge non-unique datasets, is it possible that you have any duplicates in SURVEY_OBSERVATIONS_EOS? or that persons in SURVEY_OBSERVATIONS_EOS can be linked with more than one row in PERSONS or OBSERVATION_PERIOD?
Claudia

[2022-10-25 05:09] frasansa commented on #43
Yes, was that. Solved, thanks!

[2022-10-25 05:09] #43 closed, assigned to nobody

[2022-10-25 08:04] #39 closed, assigned to nobody

[2022-11-06 13:20] jingzhuio opened #44 "new data for UOSL"
@clobart @GiorgioLimoncella
Dear Claudia and Giorgio,
We are using a different set of data for the next report and we also try to transform the CDM tables the way as it should. I sent our updated ETL to Giorgio's email 'giorgio.limoncella@unifi.it' as my email can not be delivered to ars email address. Please let me know if there's any changes other than in the instructions I need to do before run

[2022-11-08 17:01] GiorgioLimoncella commented on #44
hi Jing,

sorry for the late reply, I checked your ETL and it looks like some parameters have changed. Maybe we could have a meeting to check everything together?

About luigi, I think I don't have to give him access, a tag should be enough (@LAMaglan)

Best,
Giorgio

[2022-11-08 20:58] jingzhuio commented on #44
@LAMaglan @GiorgioLimoncella
No worries at all. A meeting sounds good. If you and Luigi are both available and prefer tomorrow, feel free to have the meeting without me. Otherwise I'm available on Thursday all day and Friday all day except 11-12.   Best, Jing

[2022-11-09 07:55] LAMaglan commented on #44
@jingzhuio I think it is best if you are in the meeting, since you actually know/understand the ETL.
If you want me to join, I am available on thursday after 12, or anytime on friday (except 11-12).

@GiorgioLimoncella I am not sure if you are aware, but UiO/UOSL/NORWAY has "similar" data (sources) for
ConcePTION, CONSIGN and VAC4EU, but with different ETLs, and the pregnancy algorithm is
being us

[2022-11-09 07:55] LAMaglan commented on #44
@jingzhuio I think it is best if you are in the meeting, since you actually know/understand the ETL.
If you want me to join, I am available on thursday after 12, or anytime on friday (except 11-12).

@GiorgioLimoncella I am not sure if you are aware, but UiO/UOSL/NORWAY has "similar" data for
ConcePTION, CONSIGN and VAC4EU, but with different ETLs, and the pregnancy algorithm is
being used for all

[2022-11-09 08:06] jingzhuio commented on #44
@LAMaglan @GiorgioLimoncella
Fair enough. I can join myself then.:)
Giorgio, feel free to schedule a meeting! I will show you a more up-to-dated ETL at the meeting as we might be doing some changes during the level checks. Best, Jing

[2022-11-09 11:46] RosaMGini commented on #44
dear @LAMaglan, it would be very important if we could spend some time in clarifying this.

according to the ConcePTION pipeline, ETL should stay stable across instances and studies. minor exceptions may be: a table/column is missing in an instance, or a column is renamed, or the type of a column changes (eg from exact date to approximated dates). this does indeed impose a minor modification in th

[2022-11-13 22:18] jingzh95 opened #45 "No need to check MO tables for VAC4EU"
@GiorgioLimoncella
Hi Giorgio,
I can see after EVENTS table, the script analyses MO tables. We have only pregnancy related BMI and smoking extracted from the birth registry for MO tables, which I don't think needs checking. What do you think? Do you want to tell me to comment some lines away? I also add a few meanings from our data to HOSP and PC. Best, Jing

[2022-11-14 18:08] GiorgioLimoncella commented on #45
hi @jingzh95,
the script analyses the MO table by default, searching for diagnosis codes. I think we can leave it like that for transparency, it is a standard that is applied to all DAPs (even if it will find nothing).

Regarding the added meanings:  could you explain further? I'm not sure I understand!

Many thanks! Giorgio

[2022-11-14 18:11] GiorgioLimoncella commented on #44
Hi @RosaMGini,
the ETL is now aligned with the other instances/studies, thanks!

@LAMaglan @jingzhuio

[2022-11-14 18:11] #44 closed, assigned to nobody

[2022-11-14 18:12] #42 closed, assigned to nobody

[2022-11-14 18:26] jingzh95 commented on #45
Hi @GiorgioLimoncella
in p_parameters/04_algorithms, I added a few "meaings_of_this_study" that are in our dataset but not listed in the script. For example "hospitalisation_not_overnight_primary" for "HOSP" or "primary_care_main_diagnosis" for "PC".
-Jing

[2022-11-14 18:58] jingzh95 commented on #45
@GiorgioLimoncella
For the MO tables, I asked only because it has been taking quite a while to run. For this report we have more data than last time and everything takes so long to run. I have been seeking help for reducing the amount of time it takes for each step. Best, Jing

[2022-11-15 08:26] jingzh95 opened #47 "CONCEPTSETS start from 2018 regardless the year in INSTANCE"
Morning @GiorgioLimoncella !
Just want to double check with you: In INSTANCE table, for hospitalisation (NPR for EVENTS) and birth registry data (MBRN for SO) we put 20100101 in "since_when_data_complete"; for primary care (KUHR for EVENTS) we in 20180101 for that (see the screenshot right below). If PROMPT is from birth registry and CONCEPTSETS is from EVENTS (diagostic code), then the CONCEPTSET

[2022-11-15 12:40] GiorgioLimoncella commented on #47
Hi @jingzh95,

can you please check two html files? they would be:

-  g_describe_HTML/02/D3_STREAM_CONCEPTSETS

-  g_describe_HTML/03/D3_STREAM_CONCEPTSETS_CHECK

these files describe all records retrieved from conceptsets before the internal consistency checks (D3_STREAM_CONCEPTSETS) and after (D3_STREAM_CONCEPTSETS_CHECK).
In the 'origin' section of these files, you can see where the records co

[2022-11-15 12:43] GiorgioLimoncella commented on #45
@jingzh95  thank you very much for your work!
I will also add these meaning in the repository here in GitHub

Giorgio

[2022-11-15 12:58] jingzh95 commented on #47
Hi @Giorgio
![image](https://user-images.githubusercontent.com/48298514/201924421-eeab518f-91a8-400e-80e6-973d63ad14fa.png)
Limoncella
Thanks for the thorough instructions! NPR (and DAR-cause of death registry) is included in CONCEPTSETS but not in CONCEPTSETS_CHECK.   The bar graph from CONCEPTSETS below makes sense to me in a way that "primary_care_main_diangosis" has the longest bar.:) Angela i

[2022-11-15 13:10] jingzh95 commented on #45
Ignore me if you already knew! All DAPs are required to add values of vocabulary type to here: https://docs.google.com/spreadsheets/u/0/d/1vPZwzQyjXlmmE1vvx3r1Jkw3Juz2DLjU9dKgEo8MijE/htmlview#gid=1562369704
These might save some time for type things in.;)
Best, Jing

[2022-11-15 13:10] #45 closed, assigned to nobody

[2022-11-15 13:19] GiorgioLimoncella commented on #47
it seems that the origin table names are different in INSTANCE and EVENT, this could be the reason why NPR records do not pass the checks.
In INSTANCE you have "NPR" and in EVENT instead you have "NPR.BUP", "NPR.PVH", .... .

If so, could you harmonise the names of the origin and try running againg?
many thanks! Giorgio